body {
  background-image: linear-gradient(to bottom, #f5d3a7, #f6ba67);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: linear-gradient(to bottom, #f5d3a7, #f6ba67);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.articles-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 2em;
  border-bottom: black solid;
  align-items: center;
}

.img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  margin-right: 50px;
}

/* h2 {
  display: flex;
}

h3 {
  text-align: left;
} */

.comment {
  display: flex;
  justify-content: space-between;
}
.latest-comment {
  border: solid #ffa264;
  transition: border 0.5s ease;
  list-style: none;
}

.comment-button {
  border: grey solid;
  border-radius: 10px 0px 10px 0px;
  display: inline-block;
  background-color: grey;
  padding: 10px;
  font-size: 15px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 75px;
  margin-left: 50px;
}
.comment-button:hover {
  border-color: #ffa264;
}

.comment-list {
  border-bottom: grey solid;
  list-style: none;
}

.comment-votes {
  display: flex;
  justify-content: center;
}

.votes-section {
  display: flex;
  align-items: center;
}

form {
  margin: 10px;
}

.temporary-comment {
  border: 1px solid transparent;
  transition: border-color 0.3s ease; 

}

.delete-button {
  justify-content: right;
  border: red solid;
  background-color: red;
  border-radius: 10px 0px 10px 0px;
  cursor: pointer;
}

.author-time {
  display: flex;
}
